.flow {
  max-width: 75%;
  margin: auto;
  height: 750px;
}

.login-page {
  background: url("./images/login6.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  width: 100vw;
  min-height: 100vh;
  object-fit: contain;
  /* overflow: hidden; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

.chart {
  width: max-width;
  height: 500px;
}

.account-page {
  background: url(./images/account1.png);
  background-repeat: no-repeat;
  background-size: 100vw;
}

.gif {
  object-fit: none;
}

.add-page {
  background: url(./images/addpage.jpg);
  background-repeat: no-repeat;
  background-size: 50vw 100vh;
}
