-- CreateTable
CREATE TABLE "untitled_table" (
    "id" SERIAL NOT NULL,
    "created_at" TIMESTAMP(6) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "untitled_table_pkey" PRIMARY KEY ("id")
);

